extends layout

block additionalLibs


block content
   h1 Disclaimer
   p Hi there
   p.
      You are about to enter my social experiment, pics.global.
      Before you can enjoy the fear and beauty of complete free-speach
      you have to know some things though.

   ol
      li.
         This Page serves as a platform for complete free speach. The Content might therefor be disturbing, harassing
         and might be in no way legal.

      li.
         The content is entirely created and managed by the users of the page.

      li.
         The contents are deleted after they have been presented on the page. The server does not have backups of those
         images.

      li.
         The page uses Cookies only to make sure that this page have been showed to the user and to prevent Spam. No
         specific userdata will be stored on the server, nor given to third-parties.


   p.
      You are about to enter Wonderland, my friend.

   a(href='/')
      button Accept

