extends layout

block additionalLibs
    // bower:js
    // endbower

    // bower:css
    // endbower

block content
    div(ng-app='picsGlobal')
        h1= title
        p Welcome to #{title}
        p This page is not finished yet so beware of bugs.

        div(ng-controller='canvasController')
            canvas(id='currentImage')

        div(ng-controller='imageUploadController')
            div(class="button" ngf-select ngf-change='upload($files)' accept='image/*' ngf-max-size='1000000' ngf-multiple='false') Upload Image

