body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.smallText {
  font-size: 8px;
}

.button {
  display: inline-block;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #000000;
  font-size: 20px;
  background: #f9ff47;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}